fastapi[standard]>=0.141.1
uvicorn[standard]>=0.52.0
gunicorn>=26.0.0
pydantic>=2.13.0
pydantic-settings>=2.10.0
elasticsearch==8.14.0
psycopg2-binary>=2.9.9
pymongo>=4.11.0
tqdm>=4.67.0
aiohttp>=3.11.0
